<section class="products">
  <h3 class="products__title">Тарифы для Индивидуального предпринимателя Швецова Мария Вальерьевна</h3>
  <div class="products__items">
    <article class="card">
      <div class="card__img">
        <img class="info-img" src="https://tochka.com/theme/main/img/ip/ip.png" alt="Тариф необходимый минимум">
      </div>
      <div class="card__info">
        <h4>Необходимый минимум</h4>
        <p>0 ₽ в месяц</p>
        <p class="lightgray-text">Тариф можно подключить только на одном счёте вашей компании.</p>
      </div>
    </article>
    <article class="card">
      <div class="card__img">
        <img class="info-img" src="https://tochka.com/theme/main/img/ip/ip.png" alt="тариф золотая середина">
      </div>
      <div class="card__info">
        <h4>Золотая середина</h4>
        <p>500 ₽ в месяц</p>
      </div>
    </article>
    <article class="card">
      <div class="card__img">
        <img class="info-img" src="https://tochka.com/theme/main/img/ip/ip.png" alt="Экскурсии">
      </div>
      <div class="card__info">
        <h4>Всё лучшее сразу</h4>
        <p>500 ₽ в месяц</p>
        <p class="lightgray-text">первые три месяца для новых клиентов Точки. Дальше — 2 500 ₽</p>
      </div>
    </article>
  </div>
</section>
<footer class="footer">
  <input type="checkbox" id="hider">
  <section class="short-content">
    <div>
      <h3>Удобная карта для бизнес-расходов сразу привязана к счёту компании</h3>
      Можно снимать и вносить деньги в любых банкоматах и кассах ФГ «Открытие»,
      покупать билеты на самолёт, оплачивать командировочные и интернет-покупки.
    </div>
  </section>
  <label class="link" for="hider" id="show">Показать </label>
  <div class="content">
    <div>
      <h3>Удобная карта для бизнес-расходов сразу привязана к счёту компании</h3>
      Можно снимать и вносить деньги в любых банкоматах и кассах ФГ «Открытие»,
      покупать билеты на самолёт, оплачивать командировочные и интернет-покупки.
    </div>
    <div>
      <h3>Легко провести расходы по бухгалтерии</h3>
      Сохраняйте все чеки и квитанции, чтобы провести их по
      бухгалтерии как расходы и не иметь проблем с налоговой.
    </div>
    <div>
      <h3>Больше никаких чековых книжек и авансовых отчётов</h3>
          Можно выпустить сколько угодно карт, выставить лимиты на
          операции и раздать своим сотрудникам. Информацию об операциях
          по их картам вы будете получать по смс в режиме онлайн.
    </div>
  </div>
</footer>
