.headline
{
    display: grid;
    grid-area: headline;
    grid-template:  'information img'
                    'horizontal-line horizontal-line'
                    /70% 30%;
    border-bottom: 2px solid #d3d3d3;
    margin: 0 0 50px 0;
    padding: 20px;
}

.headline__information
{
    grid-area: information;
    display: grid;
    grid-template: 'first'
                    'second'
                    'third';
}

.headline__information div
{
  padding-bottom: 5px;
}

.first
{
    grid-area: first;
}

.first a,
.first span
{
  padding-right: 10px;
}

.second
{
    grid-area: second;
}

.third
{
    grid-area: third;
}

.headline__img-container
{
    grid-area: img;
    max-width: 220px;
    max-height: 150px;
}

.headline__img
{
    width: 100%;
    margin: 30px 0 0 0;
}

@media screen and (max-width: 768px)
{
      .headline
  {
      display: grid;
      grid-area: headline;
      grid-template: 'information'
      'img'
      'horizontal-line';
  }

  .first a,
  .first span
  {
    display: block;
    padding-bottom: 5px;
  }

  .headline__img-container
  {
      display: flex;
      margin: auto;
  }
}
