<header class="headline">
  <div class="headline__information">
      <div class="first">
          <h2>
              Индивидуальный предприниматель
              Швецова <br> Мария Вальерьевна
          </h2>
          <span class="lightgray-text">+79193977777</span>
          <a href="#" class="blue-link">www.mary.com</a>
          <a href="#" class="blue-link">mary@tochka.com</a>
      </div>
      <div class="second">
          <a href="#" class="blue-link">Информация о компании</a>
      </div>
      <div class="third">
          <a href="#" class="blue-link">Показать реквизиты</a>
      </div>
  </div>
  <div class="headline__img-container">
      <img class="headline__img"
          src="https://www.sostav.ru/app/public/images/news/2017/09/15/compressed/Screenshot_4.jpg"
          alt="bank logo">
  </div>
</header>
