<form action="" class="another-bank-form" (ngSubmit)="onSubmit(anotherBankForm)" novalidate>
  <div>
    <p>
      <label for="who" class="lightgray-text">Отправитель</label>
      <input
        name="who"
        ngModel
        #who="ngModel"
        class="user-input"
        type="text"
        id="who"
        placeholder="От кого"
      >
    </p>
    <p>
      <label for="bik" class="lightgray-text">БИК</label>
      <input
        name="bik"
        ngModel
        #bik="ngModel"
        class="user-input"
        type="text"
        id="bik"
        placeholder="9 цифр"
        pattern="[0-9]{9}"
        minlength="9"
        maxlength="9"
      >
    </p>
    <p>
      <label for="number" class="lightgray-text">Номер счёта</label>
      <input
        name="numberS"
        ngModel
        #numberS="ngModel"
        class="user-input"
        type="text"
        id="number"
        placeholder="20 цифр"
        pattern="[0-9]{20}"
        minlength="20"
        maxlength="20"
      >
    </p>
    <p>
      <label for="summary" class="lightgray-text">Сумма</label>
      <input
        name="sum"
        ngModel
        #sum="ngModel"
        class="user-input"
        type="text"
        id="summary"
        placeholder="от 1000р до 75000р"
        pattern="[0-9]{4,5}"
        minlength="4"
        maxlength="5"
      >
    </p>
    <p>
      <label for="nds" class="lightgray-text">НДС</label>
      <select id="nds" required>
          <option value="" disabled selected hidden>
              Выберите один из вариантов
          </option>
          <option>НДС 18%</option>
          <option>НДС 10%</option>
          <option>без НДС</option>
      </select>
    </p>
    <p>
      Сформируйте платёжку и загрузите её
      в свой банк для подпиcи
    </p>
    <button class="gradient-button" type="submit" [disabled]="anotherBankForm.invalid || anotherBankForm.untouched">
      Получить файл для интернет-банка
    </button>
    <button class="blue-text-button" type="reset" [disabled]="anotherBankForm.untouched || anotherBankForm.pristine">
      Очистить форму
    </button>
  </div>
</form>
