.another-bank-form
{
  display: flex;
  justify-content: center;
}

input,
select
{
  width: 350px;
}

label
{
  display: inline-block;
  text-align: left;
  width: 150px;
}

button
{
  width: 180px;
  margin: 20px 0 50px 30px;
}
