body
{
  font: normal 14px Geometria, sans-serif;
}

.blue-link
{
    text-decoration: none;
    color: #7b9ccc;
}

.lightgray-text
{
    color: #778899;
}

.gradient-button,
.blue-text-button
{
    height: 35px;
    cursor: pointer;
}

.gradient-button
{
    border: 1px solid #eee;
    background: linear-gradient(45deg, #ffcaca, #d0e1fa);
    opacity: .6;
}

.blue-text-button
{
    margin: 15px;
    border: none;
    background: none;
    color: #4d89e4;
    font-weight: bold;
    font-size: 16px;
}

.blue-button:disabled,
.gradient-button:disabled
{
  cursor: default;
  opacity: .6;
}

.user-input.ng-touched.ng-invalid
{
  border: 2px solid rgba(255, 0, 0, .5);
  border-radius: 5px;
}

.user-input.ng-touched.ng-valid
{
  border: 2px solid rgba(0, 255, 13, 0.5);
  border-radius: 5px;
}
